@use '../../styles/mixin.scss' as mixin;
.rowItem {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #999;
  .priority {
    min-width: 30%;
    span {
      padding: 2px 10px;
      color: #fff;
    }
  }
  .status {
    min-width: 70%;
  }
}
.buttons {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0px;
  button {
    max-width: 220px;
    min-height: 30px;
    line-height: 30px;
    font-size: 1.1vw;
    @include mixin.for-phone-only {
      font-size: 4vw;
      max-width: 45%;
    }
  }
}
